 *{
    box-sizing: border-box;
}

head {
    text-align: center;
}

input[name="slider-select-element"] {
    display: none;
}

#slider-arrows {
    margin: -5% auto 0 auto;
    width: 80%;
}

#slider-box {
    height: 100%;
    width: 500%;
}

#slider-container {
    height: 20%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    width: 80%;
}

.element-dos,
.element-tres,
.element-cuatro,
.element-cinco {
    max-height: 10px;
    width: 10px;
}
.slider-element {
    float: left;
    width: 20%;
}

#element1:checked ~ #slider-arrows label:nth-child(2),
#element2:checked ~ #slider-arrows label:nth-child(3),
#element3:checked ~ #slider-arrows label:nth-child(4),
#element4:checked ~ #slider-arrows label:nth-child(5),
#element5:checked ~ #slider-arrows label:nth-child(1) {
    display: block;
    float: right;
}

#element1:checked ~ #slider-arrows label:nth-child(5),
#element2:checked ~ #slider-arrows label:nth-child(1),
#element3:checked ~ #slider-arrows label:nth-child(2),
#element4:checked ~ #slider-arrows label:nth-child(3),
#element5:checked ~ #slider-arrows label:nth-child(4)
 {
    display: block;
    float: left;
}

#element1:checked ~ #slider-arrows label:nth-child(2):before,
#element2:checked ~ #slider-arrows label:nth-child(3):before,
#element3:checked ~ #slider-arrows label:nth-child(4):before,
#element4:checked ~ #slider-arrows label:nth-child(5):before,
#element5:checked ~ #slider-arrows label:nth-child(1):before
 {
    color: black;
    content: "\f054";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#element1:checked ~ #slider-arrows label:nth-child(5):before,
#element2:checked ~ #slider-arrows label:nth-child(1):before,
#element3:checked ~ #slider-arrows label:nth-child(2):before,
#element4:checked ~ #slider-arrows label:nth-child(3):before,
#element5:checked ~ #slider-arrows label:nth-child(4):before
 {
    color: black;
    content: "\f053";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}
#element1:checked ~ #slider-container #slider-box {
    margin-left: 0;
}

#element2:checked ~ #slider-container #slider-box {
    margin-left: -100%;
}

#element3:checked ~ #slider-container #slider-box {
    margin-left: -200%;
}
#element4:checked ~ #slider-container #slider-box {
    margin-left: -300%;
}

#element5:checked ~ #slider-container #slider-box {
    margin-left: -400%;
}


#slider-arrows label {
    color: transparent;
    cursor: pointer;
   
    font-size: 2rem;
    height: 40px;
    width: 40px;
}

#slider-box {
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
}
#title{
	margin-left: 50% auto;
    width: 80%;
}
#imagen{
	    max-width: 100%;
    height: auto;

}
#menu{
	margin: 0;
	font-family: "sans-serif";
	font-size: 14px;
	
}

#menu-wrapper, li ul{
	padding: 0;
	list-style: none;

}
#hmenu>li{
	display: inline-block;
}
#hmenu> li> a{
	display: block;
	padding: 10px 5px;
	width: 90px;
}
li ul{
	position: absolute;
	display: none;
}
.sub-menu a{
	display: block;
	padding: 10px 5px;
	width: 130px;


}



li:hover ul{
	display: block;
} 
#menu-wrapper, li ul{
	background:#333;
}
#hmenu {
	width: 412px;
	margin: 0 auto;
}
#hmenu a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
#hmenu li:hover{
	background: #8A0829;
	text-shadow: :0 0 2px #000;
}
#logos{
	display: flex;
	flex-direction:row;
	
	justify-content: space-around;
	flex-wrap:wrap;
}

body{
	display: flex;
	flex-direction: column;
	background-color: #146B30;
}
.buscador{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
}
.buscador label{
	margin: 0;
	 font-family: Verdana, serif; font-size:14pt; font-style:italic; ;
	font-size: 14px;
}
#buscador{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	}

fieldset{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#Audi{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-direction: row; 
	flex-wrap: wrap;
}
.zoom{
        
        transition: width 2s, height 2s, transform 2s;
        -moz-transition: width 2s, height 2s, -moz-transform 2s;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
        -o-transition: width 2s, height 2s,-o-transform 2s;
    }
    .zoom:hover{
        
        transform : scale(1.5);
        -moz-transform : scale(1.5);      /* Firefox */
        -webkit-transform : scale(1.5);   /* Chrome - Safari */
        -o-transform : scale(1.5);        /* Opera */

    }
